.DS_Store
.venv
.mypy_cache
*.pyc
__pycache__/
tags
*.iml
*.egg-info/
dist/
out/
.env
.dev_env
build/
.idea/
.ssh/
.secrets
*.crt
*.key
*.pem
test/http*.*
node_modules/
.pnp
.pnp.js
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
